{% extends 'form_div_layout.html.twig' %}

{% block app_documento_widget %}
    {% spaceless %}
        <td>{{ form_widget(form.idDocumentoTipo) }}</td>
        <td>{{ form_widget(form.numero,{'attr':{'onkeypress':'return campo_numerico(event)'}}) }}</td>
        <td><button type="button" class="btn-floating waves-effect waves-light red remove-collection"><i class="material-icons">clear</i></button></td>
    {% endspaceless %}
{% endblock app_documento_widget %}

{% block app_idioma_widget %}
    {% spaceless %}
        <td>{{ form_widget(form.idIdioma) }}</td>
        <td>{{ form_widget(form.nivel) }}</td>
        <td><button type="button" class="btn-floating waves-effect waves-light red remove-collection"><i class="material-icons">clear</i></button></td>
    {% endspaceless %}
{% endblock app_idioma_widget %}

{% block app_contacto_widget %}
    {% spaceless %}
        <td>{{ form_widget(form.idContactoTipo) }}</td>
        <td>{{ form_widget(form.numeroContacto,{'attr':{'onkeypress':'return campo_numerico(event)'}}) }}</td>
        <td><button type="button" class="btn-floating waves-effect waves-light red remove-collection"><i class="material-icons">clear</i></button></td>
    {% endspaceless %}
{% endblock app_contacto_widget %}

{% block app_domicilio_widget %}
    {% spaceless %}
        <td>{{ form_widget(form.idDomicilioTipo) }}</td>
        <td>{{ form_widget(form.calle) }}</td>
        <td>{{ form_widget(form.numero,{'attr':{'onkeypress':'return campo_numerico(event)'}}) }}</td>
        <td>{{ form_widget(form.piso) }}</td>
        <td>{{ form_widget(form.depto) }}</td>
        <td><button type="button" class="btn-floating waves-effect waves-light red remove-collection"><i class="material-icons">clear</i></button></td>
    {% endspaceless %}
{% endblock app_domicilio_widget %}

{% block app_categoria_widget %}
    {% spaceless %}
        <td>{{ form_widget(form.idCategoria) }}</td>
        <td>{{ form_widget(form.puesto) }}</td>
        <td>{{ form_widget(form.descripcionPuesto) }}</td>
        <td><button type="button" class="btn-floating waves-effect waves-light red remove-collection"><i class="material-icons">clear</i></button></td>
    {% endspaceless %}
{% endblock app_categoria_widget %}

{% block app_subzona_widget %}
    {% spaceless %}
        <td>{{ form_widget(form.subzona) }}</td>
        <td><button type="button" class="btn-floating waves-effect waves-light red remove-collection"><i class="material-icons">clear</i></button></td>
    {% endspaceless %}
{% endblock app_subzona_widget %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="{% if form is not rootform %}invalid-feedback{% else %}alert alert-danger alert-dismissible fade show{% endif %}" role="alert">
            <ul>
                {%- for error in errors -%}
                <li>
                    {{ error.message }} 
                    <button type="button" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}


{% block form_label -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'legend' -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' col-form-legend text-muted')|trim}) -%}
    {%- else -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' form-control-label text-muted')|trim}) -%}
    {%- endif -%}
    {{- parent() -}}
{%- endblock form_label %}


