{% extends "base.html.twig" %}

{% block title %}Roles{% endblock %}

{% block body %}
    
    <h1>Roles List Page</h1>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th colspan="2">
                <a href="{{ path('roles_new') }}">Crear Nuevo</a>
            </th>
        </tr>
        {% for role in roles %}
            <tr>
                <td>{{ role.role }}</td>
                <td>{{ role.description }}</td>
                <td><a href="{{ path('roles_edit', { 'id' : role.id }) }}">Editar</a></td>
                <td>
                    <form method="POST" action="{{ path('roles_delete', { 'id' : role.id }) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Eliminar">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
