{% extends "base.html.twig" %}

{% block title %}Roles{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <h1>Roles List Page</h1>
                    <table class="responsive-table striped">
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th colspan="2">
                                <a class="btn-floating waves-effect waves-light green" href="{{ path('roles_new') }}"><i class="material-icons left">add</i>Nuevo</a>
                            </th>
                        </tr>
                        {% for role in roles %}
                            <tr>
                                <td>{{ role.role }}</td>
                                <td>{{ role.description }}</td>
                                <td>
                                    <a href="{{ path('roles_edit', { 'id' : role.id }) }}" class="btn-floating waves-effect waves-light"><i class="material-icons">create</i></a>
                                </td>
                                <td>
                                    <form method="POST" action="{{ path('roles_delete', { 'id' : role.id }) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn-floating waves-effect waves-light red"><i class="material-icons">clear</i></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
