{% extends "base.html.twig" %}

{% block titulo_operacion %}Roles{% endblock %}
{% block breadcrumbs %}
    <li><a class="active">Inicio</a></li>
    <li href="#">Nuevo Rol</li>
    {% endblock %}

{% block body %}

    <div class="container">
        <div class="card-panel">
            {{ form_start(form) }}

            {{ form_errors(form) }}

            <div class="row">
                <div class="input-field col s4">
                    {{ form_label(form.role) }}
                    {{ form_widget(form.role) }}
                </div>

                    <div class="col s4">
                        {{ form_label(form.idRolePadre) }}
                        {{ form_widget(form.idRolePadre) }}
                    </div>

                <div class="input-field col s4">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>   

            <div class="row">
                <a type="button" href="{{path('roles_index')}}" class="btn waves-effect waves-light red accent-2">Volver</a>
                <input type="submit" value="Guardar" class="btn"/>
            </div>    
            
            {{ form_end(form) }}
        </div>
    </div>    


{% endblock %}
