{% extends "base.html.twig" %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <div class="card">
                <div class="card-content">
                    <h1>User Form</h1>
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username) }}

                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}

                        <div class="{{ (pw_required) ? '' : 'invisible d-none' }}" >
                            {{ form_widget(form.plainPassword) }}
                        </div>

                        {% for role in roles %}
                            <input type="checkbox" name="roles[]" value="{{ role.role }}" id="{{ role.id }}_{{ role.role }}"
                            {{ (role.role in user.roles) ? 'checked' : '' }} />
                            <label for="{{ role.id }}_{{ role.role }}">{{ role.role }}</label>
                            <br>
                        {% endfor %}
                        <br>
                        <input type="submit" name="submit" value="Save" class="btn waves-effect waves-light ">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
