{% extends 'base.html.twig' %}

{% block titulo_operacion %}Rutas{% endblock %}
{% block breadcrumbs %}
        <li><a href="#">Inicio</a></li>
        <li class="active">Rutas</li>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card-panel">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Rol</th>
                        <th>Rutas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for rol in roles %}
                        <tr>
                            <td>{{rol.role}}</td>
                            <td>{% for ruta in rol.routes %}{{ruta.path}} {% for key,parametro in ruta.parametro %}{{key}}:{{parametro}} {% endfor %} <br>{% endfor %}</td>
                            <td>
                                {#{% if has_permission('producto_edit') %}#}<a class="btn-floating waves-effect waves-light cyan" type="button" href="{{path('route_edit',{'_id_role':rol.id})}}"><i class="material-icons">mode_edit</i></a>{#{% endif %}#}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
    </div>            
{% endblock %}
 
