{% extends 'base.html.twig' %}

{% block titulo_operacion %}Nueva subida{% endblock %}

{% block breadcrumbs %}
        <li><a class="active">Inicio</a></li>
        <li href="#">Archivos</li>
{% endblock %}

{% block body %}

    {{ form_start(formulario) }}

    {{ form_errors(formulario) }}
    
    <div class="container">
        <div class="card-panel">

            {{ form_start(formulario) }}

            {{ form_errors(formulario) }}

            <div class="row">
                <div class="input-field col s5">
                    {{ form_widget(formulario.upload_file) }}
                </div>
                <div class="input-field col s5">
                    {{ form_widget(formulario.shipper) }}
                    {{ form_label(formulario.shipper) }}
                </div>
                <div class="input-field col s2">
                    {{ form_widget(formulario.cabezera) }}
                    {{ form_label(formulario.cabezera) }}
                </div>
            </div>
                
            <div class="row">
                <input type="submit" value="Guardar" class="btn"/>
            </div>

            {{ form_end(formulario) }}
        </div>
    </div>

{% endblock %}