{% extends 'base.html.twig' %}

{% block titulo_operacion %}Nueva subida{% endblock %}

{% block breadcrumbs %}
        <li><a class="active">Inicio</a></li>
        <li href="#">Estructura</li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card-panel">
            <form id="structure-confirmation" name="structure-confirmation" class="col s12" method="POST" action="{{path('upload_structure_confirmation')}}">
                <p>
                    <input type="checkbox" id="actualizar_estructura" name="actualizar_estructura[]"/>
                    <label for="actualizar_estructura">Actualizar estructura</label>
                </p><br>
                <input type="hidden" name="nombre_archivo" value="{{ shipperData.nombreArchivo }}">
                <input type="hidden" name="id_shipper" value="{{ shipperData.idShipper }}" >
                {% for label in labels %}
                    {% if label != 'id' %}
                        <div class="input-field col s12">
                            <select id="{{label}}" name="{{label}}">
                                <option value="" selected>Seleccione una opción</option>
                                {% for key, fila in cabezera %}
                                    <option value="{{key}}">{{fila}}</option>
                                {% endfor %}
                            </select>
                            <label>{{label|upper}}</label>
                        </div>
                    {% endif %}    
                {% endfor %}
                <div class="row">
                    <input type="submit" value="Guardar" class="btn"/>
                </div>
                <div class="hidden">
                    <input type="checkbox" id="id_original_file" name="id_original_file" value="{{id_original_file}}"/>
                </div>
            </form>    
        </div>
    </div>    
{% endblock %}    
