{% extends 'base.html.twig' %}

{% block titulo_operacion %}KNP menú{% endblock %}
{% block breadcrumbs %}
        <li><a href="#">Inicio</a></li>
        <li class="active">Menus</li>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="card-panel">
            <table class="Highlight responsive-table bordered">
                <tbody>
                    <tr class="red lighten-3">
                        <td>Nombre</td>
                        <td>Orden</td>
                        <td>Ruta</td>
                        <td>Parámetros</td>
                        <td>
                            {% if has_permission('menu_new') %}
                                <a type="button" href="{{path('menu_new')}}"><i class="material-icons small">add</i>Agregar</a>
                            {% endif %}
                        </td>
                    </tr>    
                {% for modulo in modulos %}
                    {% if item_modulo is not defined or item_modulo != modulo.idMenu %}
                        <tr class="red lighten-4">
                            <td>{{modulo.nombre}}{% set item_modulo = modulo.idMenu %}</td>
                            <td>{{modulo.orden}}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a type="button" href="{{path('menu_edit',{'_id_menu':modulo.idMenu})}}"><i class="material-icons small">mode_edit</i></a>
                                <a type="button" href="{{path('menu_delete',{'_id_menu':modulo.idMenu})}}"><i class="material-icons small">clear</i></a>
                            </td>
                        </tr>
                    {% endif %}
                    {% for submodulo in modulo.getHijos() %}
                        <tr>
                            {% if submodulo.getHijos().first() is empty %}
                                <td>-> {{submodulo.nombre}}</td>
                                <td>{{submodulo.orden}}</td>
                                <td>{{submodulo.idRoute}}</td>
                                <td>{% if submodulo.idRoute is not empty %}{% for key,parametro in submodulo.idRoute.parametro %}{{key}}:{{parametro}}<br>{% endfor %}{% endif %}</td>
                                <td>
                                    <a type="button" href="{{path('menu_edit',{'_id_menu':submodulo.idMenu})}}"><i class="material-icons small">mode_edit</i></a>
                                    <a type="button" href="{{path('menu_delete',{'_id_menu':submodulo.idMenu})}}"><i class="material-icons small">clear</i></a>
                                </td>
                            {% else %}
                                {% if item_submodulo is not defined or item_submodulo != submodulo.idMenu %}
                                <tr class="red lighten-5">
                                    <td>-> {{submodulo.nombre}}{% set item_submodulo = submodulo.idMenu %}</td>
                                    <td>{{submodulo.orden}}</td>
                                    <td>{{submodulo.idRoute}}</td>
                                    <td>{% if submodulo.idRoute is not empty %}{% for key,parametro in submodulo.idRoute.parametro %}{{key}}:{{parametro}}<br>{% endfor %}{% endif %}</td>
                                    <td>
                                        <a type="button" href="{{path('menu_edit',{'_id_menu':submodulo.idMenu})}}"><i class="material-icons small">mode_edit</i></a>
                                        <a type="button" href="{{path('menu_delete',{'_id_menu':submodulo.idMenu})}}"><i class="material-icons small">clear</i></a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% for operacion in submodulo.getHijos() %}
                                <td>--> {{operacion.nombre}}</td>
                                <td>{{operacion.orden}}</td>
                                <td>{{operacion.idRoute}}</td>
                                <td>{% if operacion.idRoute is not empty %}{% for key,parametro in operacion.idRoute.parametro %}{{key}}:{{parametro}}<br>{% endfor %}{% endif %}</td>
                                <td>
                                    <a type="button" href="{{path('menu_edit',{'_id_menu':operacion.idMenu})}}"><i class="material-icons small">mode_edit</i></a>
                                    <a type="button" href="{{path('menu_delete',{'_id_menu':operacion.idMenu})}}"><i class="material-icons small">clear</i></a>
                                </td>
                            {% endfor %}    
                        {% endif %}    
                    </tr>
                {% endfor %}    
            {% endfor %}
        </tbody>
</table>
        </div>
    </div>            
{% endblock %}