{% extends 'menu/index.html.twig' %}

{% block body %}
    {{parent()}}

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            {{ form_start(formulario) }}

            {{ form_errors(formulario) }}

            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(formulario.nombre) }}
                    {{ form_widget(formulario.nombre) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_label(formulario.idMenuPadre) }}
                    {{ form_widget(formulario.idMenuPadre) }}
                </div>
            </div>    

            <div class="row">
                <div class="input-field col s12">
                    {{ form_label(formulario.orden) }}
                    {{ form_widget(formulario.orden,{'attr':{'onkeypress':'return campo_numerico(event)'}}) }}
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    {{ form_label(formulario.idRoute) }}
                    {{ form_widget(formulario.idRoute) }}
                </div>
            </div>

            <div class="">
                <a type="button" href="{{path('menu_index')}}" class="btn waves-effect waves-light red">Volver</a>
                <input type="submit" value="Guardar" class="btn" />
            </div>
            {{ form_end(formulario) }}
        </div>
        {#<div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        </div>#}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#modal1').modal('open');
        });

        $('.modal').modal({
            dismissible: false,
        });

    </script>    
{% endblock %}