{% extends 'base.html.twig' %}

{% block titulo_operacion %}ZONAS{% endblock %}
{% block breadcrumbs %}
        <li><a href="#">Inicio</a></li>
        <li class="active">Zonas</li>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="card-panel">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Zona</th>
                        <th>SubZonas</th>
                        <th>
                            {% if has_permission('zona_new') %}
                                <a type="button" class="btn-floating waves-effect waves-light green darken-1" href="{{path('zona_new')}}"><i class="material-icons">add</i></a>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for zona in zonas %}
                        <tr>
                            <td>{{zona.zona}}</td>
                            <td>
                                {% for subzona in zona.subzonas %}
                                    {{subzona.subzona}}<br>
                                {% endfor %}    
                            </td>
                            <td>
                                {% if has_permission('zona_edit') %}<a type="button" class="btn-floating waves-effect waves-light cyan" href="{{path('zona_edit',{'_id_zona':zona.idZona})}}"><i class="material-icons">mode_edit</i></a>{% endif %}
                                {% if has_permission('zona_delete') %}<a type="button" class="btn-floating waves-effect waves-light red" href="{{path('zona_delete',{'_id_zona':zona.idZona})}}"><i class="material-icons">clear</i></a>{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>                
{% endblock %}