{% extends 'base.html.twig' %}
{% form_theme formulario with 'form/fields.html.twig' %}

{% block titulo_operacion %}ZONAS{% endblock %}

{% block body %}

    {{ form_start(formulario) }}

    {{ form_errors(formulario) }}

    <div class="form-row">
        <div class="form-group col-md-6">
            {{ form_label(formulario.zona) }}
            {{ form_widget(formulario.zona) }}
        </div>
    </div>

    <table id="subzonas" class="table table-bordered collection-fields-list" data-prototype="{{ form_widget(formulario.subzonas.vars.prototype)|e }}">
        <thead class="table_head text-secondary text-bold">
            <tr>
                <th>Subzonas
                    <button type="button" class="btn btn-sm btn-success add-another-collection"><i class="fa fa-plus" aria-hidden="true"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for subzona in formulario.subzonas %}
                <tr>
                    {{ form_widget(subzona) }}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>          

    <div class="">
        <a type="button" href="{{path('zona_index')}}" class="btn btn-sm btn-danger">Volver</a>
        <input type="submit" value="Guardar" class="btn btn-sm btn-success" />
    </div>
    {{ form_end(formulario) }}

{% endblock %}


